<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">1234</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/healthtime</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hbm2ddl.auto">create-drop</property>
		<property name="hibernate.connection.autocommit">true</property>
		

		<!-- Livro -->
		<mapping class="br.com.healthtime.entity.Endereco" />
		<mapping class="br.com.healthtime.entity.Consulta" />
		<mapping class="br.com.healthtime.entity.Gestor" />
		<mapping class="br.com.healthtime.entity.Receita" />
		<mapping class="br.com.healthtime.entity.UnidadeSus" />
		<mapping class="br.com.healthtime.entity.Usuario" />

	</session-factory>
</hibernate-configuration>