<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0"
	metadata-complete="true">
	<display-name>HealthTime</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		
	</welcome-file-list>
	
	<servlet>
        <servlet-name>CadastroUsuario</servlet-name>
        <servlet-class>br.com.healthtime.servelet.CadastroUsuario</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.com.healthtime.servelet.Login</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>CadastroConsulta</servlet-name>
        <servlet-class>br.com.healthtime.servelet.CadastroConsulta</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ValidaUsuario</servlet-name>
        <servlet-class>br.com.healthtime.servelet.ValidaUsuario</servlet-class>
    </servlet>
    
        <servlet>
        <servlet-name>AgendarConsulta</servlet-name>
        <servlet-class>br.com.healthtime.servelet.AgendarConsulta</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AdicionarReceita</servlet-name>
        <servlet-class>br.com.healthtime.servelet.AdicionarReceita</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ReceitaUpload</servlet-name>
        <servlet-class>br.com.healthtime.servelet.ReceitaUpload</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ReceitaDownload</servlet-name>
        <servlet-class>br.com.healthtime.servelet.ReceitaDownload</servlet-class>
    </servlet>
    
          <servlet>
        <servlet-name>CancelarConsulta</servlet-name>
        <servlet-class>br.com.healthtime.servelet.CancelarConsulta</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>br.com.healthtime.servelet.Principal</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>DetalharConsulta</servlet-name>
        <servlet-class>br.com.healthtime.servelet.DetalharConsulta</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ReceitaUpload</servlet-name>
        <url-pattern>/ReceitaUpload</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ReceitaDownload</servlet-name>
        <url-pattern>/ReceitaDownload</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AdicionarReceita</servlet-name>
        <url-pattern>/AdicionarReceita</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>CadastroUsuario</servlet-name>
        <url-pattern>/CadastroUsuario</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ValidaUsuario</servlet-name>
        <url-pattern>/ValidaUsuario</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>CadastroConsulta</servlet-name>
        <url-pattern>/CadastroConsulta</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AgendarConsulta</servlet-name>
        <url-pattern>/AgendarConsulta</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>CancelarConsulta</servlet-name>
        <url-pattern>/CancelarConsulta</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DetalharConsulta</servlet-name>
        <url-pattern>/DetalharConsulta</url-pattern>
    </servlet-mapping>
	
</web-app>