@charset "UTF-8";

.formBody {
	border-bottom: 1px solid #1c4e91;
	border-top: 1px solid #1c4e91;
	border-left: 1px solid #1c4e91;
	border-right: 1px solid #1c4e91;
	width: 66%;
	height: 873px;
	margin: 50px auto 100px auto;
}

#loginBody {
	background-color: #aab2bd;
}

.formLogin {
	border-bottom: 1px solid #1c4e91;
	border-top: 1px solid #1c4e91;
	border-left: 1px solid #1c4e91;
	border-right: 1px solid #1c4e91;
	width: 30%;
	height: 250px;
	margin: 70px auto 100px auto;
	border-radius: 10px;
}

.form-group .col-sm-5 {
	margin-left: 140px;
	width: 70%;
}

/* The container must be positioned relative: */
.custom-select {
	position: relative;
	font-family: Arial;
}

.custom-select select {
	display: none; /*hide original SELECT element: */
}

.select-selected {
	background-color: white;
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: gray transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	border-color: transparent transparent gray transparent;
	top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
	color: gray;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: white;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}